<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Albums</title>
        <!--  Contribution from Google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Fjord+One&display=swap" rel="stylesheet">
        <link href="/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header th:replace="../fragments/header.html :: header"></header>
        <h1>Your Albums</h1>
        <section>
            <article th:each="album : ${albumarray}">
                <h2 th:text="${album.title}">Album title</h2>
                <h3 th:text="${album.artist}">Album artist</h3>
                <p th:text="${album.songCount} + ' songs'">Album song count</p>
                <p th:text="'Length: ' + ${album.length} + ' seconds'">Album length (seconds)</p>
                <img th:src="${album.imageUrl}" />
            <h2>Add a song to this album</h2>
            <form th:action="${'/albums/' + album.id + '/songs'}" method="POST">
                <label>Song title <input type="text" name="title"/></label>
                <label>Song  <input type="text" name="length"/></label>
                <label>Track number <input type="text" name="trackNumber"/></label>
                <input type="submit"/>
            </form>
            </article>
        </section>
        <h2>Add an album</h2>
        <form method="POST" action="/albums">
            <label>Title <input name="title" /></label>
            <label>Artist <input name="artist" /></label>
            <label>Song Count <input name="songCount" /></label>
            <label>Album Length <input name="length" /></label>
            <label>Album image <input name="imageUrl" /></label>
            <input type="submit"/>
        </form>
    </body>
</html>